@use 'variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: v.$fuente-principal;
  line-height: 1.6;
  background-color: v.$color-fondo;
  color: v.$color-texto;
  padding: v.$espaciado-base;
}

h1, h2, h3 {
  font-family: v.$fuente-titulos;
  color: v.$color-encabezado;
  margin-bottom: 10px;
  text-align: center;
}
