@use'variables' as v;

nav {
  ul {
    list-style: none;
    background-color: v.$color-negro;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 0 15px;

      a {
        color: v.$color-blanco;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: v.$color-hover;
        }
      }
    }
  }
}

main {
  margin: v.$espaciado-base 0;
}

footer {
  margin-top: 40px;
  padding: 15px;
  background-color: v.$color-negro;
  color: v.$color-blanco;
  text-align: center;
  font-size: 0.9em;
}
