// Paleta de colores
$color-fondo: #f7f7f7;
$color-texto: #333;
$color-encabezado: #444;
$color-hover: #ff9900;
$color-negro: #222;
$color-blanco: #fff;
$color-gris: #ccc;

$fuente-principal: 'Open Sans', sans-serif;
$fuente-titulos: 'Playfair Display', serif;
$espaciado-unidad: 10px;
$espaciado-base: 20px;
